/*颜色变量*/
$primary: #fc5a1f;
$red: #FF5454;
$white: #fff;
$white1: #BEC3CA;
$place_horder: #8FB5CB;
$yellow: #ffbc42;
$view: #2A405C;
$green: #27A395;
$grey: #B7BDC5;
$deepBlue: #3968af;
$blue: #90B5CC;
$blue1: #293F5B;
$blue2: #1959DF;
$blue3: #3C5273;
$lightBlue: #08E3F0;
$purple: #E3E4F6;
$purple1: #D1D2EA;
$black: #000000;
$black1: #1B2B41;
$black2: #7090A7;
$black3: #333;
$black6: #666;
$black9: #bbb;
$e2: #E2E2E2;
$line:#2A4D62;
